.contact{
   margin-top: 12rem;
   background-color: var(--color-primary);
   border-radius: 20px;
   padding: 5rem 7rem;
   h3{
      text-align: left;
      color: #fff;
      font-size: 2.8rem;
   }
   p{
      color: #fff;
      font-size: 2.4rem;
   }
   &__form{
      margin-top: 7rem;
      display: flex;
      justify-content: space-between;
      &-left{
         width: 40%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         &__input{
            width: 100%;
            height: 6rem;
            padding-left: 1rem;
         }
      }
      &-right{
         width: 40%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         textarea{
            width: 100%;
            min-height: 14rem;
            resize: none;
            padding: 1rem;
         }
         button{
            margin-top: 5rem;
            width: 70%;
         }
      }
   }
   p:last-of-type{
      margin-top: 7rem;
      width: 50%;
   }
   button{
      margin-top: 4.6rem;
   }
}