.description {
   margin-top: 12rem;
   padding: 0 6%;

   h2 {
      color: var(--color-primary);
      text-transform: none;
      font-size: 3.8rem;
      margin-bottom: 6rem;
   }
   h3{
      font-size: 2.4rem;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 4rem;
   }
   p{
      margin-top: 3rem;
   }
   &__list-name{
      margin: 0;
      margin-top: 3rem;
   }
   &__img{
      margin-top: 10rem;
      width: 100%;
   }
   &__mission{
      margin-top: 6rem;
      p{
         margin: 2.4rem 0;
      }
   }
}