.logos {
  height: 16vh;

  &__container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
  }

  img {
    width: 70%;
    height: auto;
  }
}
